In [ ]:
print("출력")

In [ ]:
x = 10
print (x)

# 1. 정수형

In [ ]:
type(10)

In [ ]:
type(10.0)

In [ ]:
a,b = 7,3.0
c= int(a//b)
d = a%b
e= a**b
print(c)
print(d)
print(e)

In [ ]:
mike ,judy , sera = 80,75,100
(mike+judy+sera)//3

In [ ]:
chk = True
for i in range(3):
    val = int(input("값을 입력하시오 : "))
    if(val<=65) : chk = False
print(chk)

In [ ]:
a= None
print(a)
#나는 엔터쳐서 입력하고 싶다
quote = """안녕하세요
저는 신지수입니다"""
print(quote)

In [ ]:
quote

In [ ]:
quote2= "\"신지수\""
print(quote2)

In [ ]:
a= "20190505chicken19000"
year = a[0:4]
day=a[4:8]
menu = a[8:15]
price = a[15:]
print(year)
print(day)
print(menu)
print(price)

In [ ]:
a ="90:30:80"
a= a.lstrip()
b= a.rstrip()
math,english,science= list(map(int,a.split(":")))
#= a.split(":")
#math = a[0:2]
print(math)
#english = a[3:5]
print(english)
#science = a[6:8]
print(science)
average = (int(math) + int(english) + int(science)) / 3
print("평균 점수는 %.2f 입니다" %average)

In [ ]:
name = "신지수"
major = "컴퓨터정보통신공학과"
print("%s의 전공은 %s 입니다" %(name,major))

In [ ]:
intro = "안녕하세요 오늘의 점심은 {},{},{}입니다 ".format("샐러드","불고기","마늘쫑")
intro

In [ ]:
pi=3.141592
des = "pi는 %.2f" %pi
print(des)

a="   안녕하세요.   "
print(a.lstrip())
print(a.rstrip())
s ="오징어 꼴뚜기 대구 명태 거북이"
ani = s.split(" ")
ani

In [ ]:
a= [ 1,2,"메롱",['a','b','c']]
type(a)
a[0]= "3"
print(a)

In [3]:
b=list(range(0,10,3))
b[::-1]
del b[-1]
b

[0, 3, 6]

In [4]:
3 in b

True

In [5]:
2 in b

False

In [6]:
list2 = b
list2 = list2 + [10,20]
list2

[0, 3, 6, 10, 20]

In [7]:
list2*3

[0, 3, 6, 10, 20, 0, 3, 6, 10, 20, 0, 3, 6, 10, 20]

In [14]:
list1 = list(range(5))
print(list1)
#list1.append([6,7])
print(list1)
list1.extend([6,7])
print(list1)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 6, 7]

In [36]:
list1= list(range(5))
a= list1.pop()
print(a)
a= list1.pop(0)
print(a)
list1.remove(2)
list1

4
0

[1, 3]

# insert

In [37]:
list1.insert(1,2)
print(list1)

[1, 2, 3]

In [38]:
print(list1.count(2))
list1.extend([2,3,2,3,4])
print(list1.count(2),list1.count(4))

1
3 1

In [39]:
list1.index(2)

1

In [42]:
list1.reverse()
list1

[4, 3, 2, 3, 2, 3, 2, 1]

In [45]:
list1 = [4,3,2,2,1,1]
list1.sort(reverse=True) # reverse로 내림차순정렬
list1

[4, 3, 2, 2, 1, 1]

In [46]:
tuple1 = tuple(list1)
tuple1

(4, 3, 2, 2, 1, 1)

In [49]:
tuple1.append(3)

AttributeError: 'tuple' object has no attribute 'append'

In [53]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [54]:
list2 = list1.copy()
list2.append(10)
list2[0]='a'
list2

['a', 1, 2, 3, 4, 10]

In [55]:
list1

[0, 1, 2, 3, 4]

In [60]:
list1 = [[1,2,3],[4,5,6],[7,8,9]]
list1

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [62]:
list2 = list1.copy()
list2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [67]:
list2[1]='b'
list2[0][1]='a'
list2

[[1, 'a', 3], 'b', [7, 8, 9]]

In [68]:
list1

[[1, 'a', 3], [4, 5, 6], [7, 8, 9]]

# deepcopy
2차원 이상 배열은 deepcopy를 해줘야한다

In [69]:
import copy
list1 = [[1,2,3],[4,5,6],[7,8,9]]
list2 = copy.deepcopy(list1)
list2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [71]:
list2[0][0]='a'
list2

[['a', 2, 3], [4, 5, 6], [7, 8, 9]]

# Dictionary

In [73]:
a={}
type(a)

dict

In [124]:
profile = {
    'name':'신지수',
    'city':'경기도 구리시',
    'height':160,
    'number':'010-3925-7913'
    
}
profile

{'name': '신지수', 'city': '경기도 구리시', 'height': 160, 'number': '010-3925-7913'}

In [125]:
profile['name']

'신지수'

In [126]:
profile['city']

'경기도 구리시'

In [127]:
profile['friends'] = ['지원','희지','경현','오미']
profile

{'name': '신지수',
 'city': '경기도 구리시',
 'height': 160,
 'number': '010-3925-7913',
 'friends': ['지원', '희지', '경현', '오미']}

In [128]:
'신지수' in profile # 키가 중심

False

In [129]:
'name' in profile

True

In [130]:
profile['name']='신원준'
profile

{'name': '신원준',
 'city': '경기도 구리시',
 'height': 160,
 'number': '010-3925-7913',
 'friends': ['지원', '희지', '경현', '오미']}

In [131]:
profile.setdefault('score',100)
profile

{'name': '신원준',
 'city': '경기도 구리시',
 'height': 160,
 'number': '010-3925-7913',
 'friends': ['지원', '희지', '경현', '오미'],
 'score': 100}

In [132]:
profile.setdefault('score',0)
profile

{'name': '신원준',
 'city': '경기도 구리시',
 'height': 160,
 'number': '010-3925-7913',
 'friends': ['지원', '희지', '경현', '오미'],
 'score': 100}

In [133]:
profile.update({
    'score':50,
    'height':176
})
profile

{'name': '신원준',
 'city': '경기도 구리시',
 'height': 176,
 'number': '010-3925-7913',
 'friends': ['지원', '희지', '경현', '오미'],
 'score': 50}

# 런타임에러 방지

In [134]:
profile.get('name')

'신원준'

In [135]:
print(profile.get('comment'))
print(profile[comment]) # 에러발생

None

NameError: name 'comment' is not defined

In [136]:
profile.get('comment',[]) # get을 사용하므로써 런타임에러 방지

[]

In [137]:
height = profile.pop('height')
print(height)
profile

176

{'name': '신원준',
 'city': '경기도 구리시',
 'number': '010-3925-7913',
 'friends': ['지원', '희지', '경현', '오미'],
 'score': 50}

In [138]:
list1=profile.keys()
list1

dict_keys(['name', 'city', 'number', 'friends', 'score'])

In [139]:
profile.values()

dict_values(['신원준', '경기도 구리시', '010-3925-7913', ['지원', '희지', '경현', '오미'], 50])

In [140]:
profile.items()

dict_items([('name', '신원준'), ('city', '경기도 구리시'), ('number', '010-3925-7913'), ('friends', ['지원', '희지', '경현', '오미']), ('score', 50)])

In [141]:
profile.clear()

In [142]:
profile

{}

In [144]:
set1 = {1,2,3,3,3,3,3,3}
set1

{1, 2, 3}

In [147]:
list1 = [1,2,3,4,5,5,5,3,2,2,2]
list1 = set(list1)
list1

{1, 2, 3, 4, 5}

In [172]:
set1 = {1,2,3}
set2 = {3,4,5}
print(set1)
print(set2)

{1, 2, 3}
{3, 4, 5}

In [173]:
set.union(set1,set2)

{1, 2, 3, 4, 5}

In [174]:
set.intersection(set1,set2)

{3}

In [176]:
set1 & set2

{3}

In [177]:
set1 | set2

{1, 2, 3, 4, 5}

In [178]:
set1 ^ set2

{1, 2, 4, 5}

In [179]:
set1-set2

{1, 2}

In [182]:
{1}.issubset(set1)

True