In [1]:
print("출력")

출력

In [2]:
x = 10
print (x)

10

# 1. 정수형

In [3]:
type(10)

int

In [4]:
type(10.0)

float

In [5]:
a,b = 7,3.0
c= int(a//b)
d = a%b
e= a**b
print(c)
print(d)
print(e)

2
1.0
343.0

In [6]:
mike ,judy , sera = 80,75,100
(mike+judy+sera)//3

85

In [7]:
chk = True
for i in range(3):
    val = int(input("값을 입력하시오 : "))
    if(val<=65) : chk = False
print(chk)

값을 입력하시오 : 60
값을 입력하시오 : 70
값을 입력하시오 : 10
False

In [8]:
a= None
print(a)
#나는 엔터쳐서 입력하고 싶다
quote = """안녕하세요
저는 신지수입니다"""
print(quote)

None
안녕하세요
저는 신지수입니다

In [9]:
quote

'안녕하세요\n저는 신지수입니다'

In [10]:
quote2= "\"신지수\""
print(quote2)

"신지수"

In [11]:
a= "20190505chicken19000"
year = a[0:4]
day=a[4:8]
menu = a[8:15]
price = a[15:]
print(year)
print(day)
print(menu)
print(price)

2019
0505
chicken
19000

In [11]:
a ="90:30:80"
a= a.lstrip()
b= a.rstrip()
math,english,science= list(map(int,a.split(":")))
#= a.split(":")
#math = a[0:2]
print(math)
#english = a[3:5]
print(english)
#science = a[6:8]
print(science)
average = (int(math) + int(english) + int(science)) / 3
print("평균 점수는 %.2f 입니다" %average)

90
30
80
평균 점수는 66.67 입니다

In [12]:
name = "신지수"
major = "컴퓨터정보통신공학과"
print("%s의 전공은 %s 입니다" %(name,major))

신지수의 전공은 컴퓨터정보통신공학과 입니다

In [13]:
intro = "안녕하세요 오늘의 점심은 {},{},{}입니다 ".format("샐러드","불고기","마늘쫑")
intro

'안녕하세요 오늘의 점심은 샐러드,불고기,마늘쫑입니다 '

In [15]:
pi=3.141592
des = "pi는 %.2f" %pi
print(des)

a="   안녕하세요.   "
print(a.lstrip())
print(a.rstrip())
s ="오징어 꼴뚜기 대구 명태 거북이"
ani = s.split(" ")
ani

pi는 3.14
안녕하세요.
   안녕하세요.

['오징어', '꼴뚜기', '대구', '명태', '거북이']

In [14]:
a= [ 1,2,"메롱",['a','b','c']]
type(a)
a[0]= "3"
print(a)

['3', 2, '메롱', ['a', 'b', 'c']]

In [15]:
b=list(range(0,10,3))
b[::-1]
del b[-1]
b

[0, 3, 6]

In [16]:
3 in b

True

In [19]:
2 in b

False

In [20]:
list2 = b
list2 = list2 + [10,20]
list2

[0, 3, 6, 10, 20]

In [21]:
list2*3

[0, 3, 6, 10, 20, 0, 3, 6, 10, 20, 0, 3, 6, 10, 20]

In [22]:
list1 = list(range(5))
print(list1)
#list1.append([6,7])
print(list1)
list1.extend([6,7])
print(list1)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 6, 7]

In [23]:
list1= list(range(5))
a= list1.pop() #맨 뒤 삭제
print(a)
a= list1.pop(0) #해당 value 삭제
print(a)
list1.remove(2) #해당 value 삭제
list1

4
0

[1, 3]

# insert

In [24]:
list1.insert(1,2)
print(list1)

[1, 2, 3]

In [25]:
print(list1.count(2))
list1.extend([2,3,2,3,4])
print(list1.count(2),list1.count(4))

1
3 1

In [26]:
list1.index(2)

1

In [27]:
list1.reverse()
list1

[4, 3, 2, 3, 2, 3, 2, 1]

In [28]:
list1 = [4,3,2,2,1,1]
list1.sort(reverse=True) # reverse로 내림차순정렬
list1

[4, 3, 2, 2, 1, 1]

In [29]:
tuple1 = tuple(list1)
tuple1

(4, 3, 2, 2, 1, 1)

In [30]:
tuple1.append(3)

AttributeError: 'tuple' object has no attribute 'append'

In [31]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [32]:
list2 = list1.copy()
list2.append(10)
list2[0]='a'
list2

['a', 1, 2, 3, 4, 10]

In [33]:
list1

[0, 1, 2, 3, 4]

In [32]:
list1 = [[1,2,3],[4,5,6],[7,8,9]]
list1

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [33]:
list2 = list1.copy()
list2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [34]:
list2[1]='b'
list2[0][1]='a'
list2

[[1, 'a', 3], 'b', [7, 8, 9]]

In [35]:
list1

[[1, 'a', 3], [4, 5, 6], [7, 8, 9]]

# deepcopy
2차원 이상 배열은 deepcopy를 해줘야한다

In [40]:
import copy
list1 = [[1,2,3],[4,5,6],[7,8,9]]
list2 = copy.deepcopy(list1)
list2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [41]:
list2[1]='b'
list2[0][0]='a'
list1

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [42]:
list2

[['a', 2, 3], 'b', [7, 8, 9]]

# Dictionary

In [40]:
a={}
type(a)

dict

In [50]:
profile = {
    'name':'신지수',
    'city':'경기도 구리시',
    'height':160,
    'number':'010-3925-7913'
    
}
profile

{'name': '신지수', 'city': '경기도 구리시', 'height': 160, 'number': '010-3925-7913'}

In [42]:
profile['name']

'신지수'

In [43]:
profile['city']

'경기도 구리시'

In [44]:
profile['friends'] = ['지원','희지','경현','오미']
profile

{'name': '신지수',
 'city': '경기도 구리시',
 'height': 160,
 'number': '010-3925-7913',
 'friends': ['지원', '희지', '경현', '오미']}

In [45]:
'신지수' in profile # 키가 중심

False

In [46]:
'name' in profile

True

In [47]:
profile['name']='신원준'
profile

{'name': '신원준', 'city': '경기도 구리시', 'height': 160, 'number': '010-3925-7913'}

In [51]:
profile.setdefault('score',100)
profile

{'name': '신지수',
 'city': '경기도 구리시',
 'height': 160,
 'number': '010-3925-7913',
 'score': 100}

In [52]:
profile.setdefault('score',0)
profile

{'name': '신지수',
 'city': '경기도 구리시',
 'height': 160,
 'number': '010-3925-7913',
 'score': 100}

In [53]:
profile.update({
    'score':50,
    'height':176
})
profile

{'name': '신지수',
 'city': '경기도 구리시',
 'height': 176,
 'number': '010-3925-7913',
 'score': 50}

# 런타임에러 방지

In [54]:
profile.get('name')

'신지수'

In [55]:
print(profile.get('comment'))
print(profile[comment]) # 에러발생

None

NameError: name 'comment' is not defined

In [56]:
profile.get('comment',[]) # get을 사용하므로써 런타임에러 방지

[]

In [54]:
height = profile.pop('height')
print(height)
profile

176

{'name': '신원준',
 'city': '경기도 구리시',
 'number': '010-3925-7913',
 'friends': ['지원', '희지', '경현', '오미'],
 'score': 50}

In [57]:
list1=profile.keys()
list1

dict_keys(['name', 'city', 'height', 'number', 'score'])

In [58]:
profile.values()

dict_values(['신지수', '경기도 구리시', 176, '010-3925-7913', 50])

In [59]:
profile.items()

dict_items([('name', '신지수'), ('city', '경기도 구리시'), ('height', 176), ('number', '010-3925-7913'), ('score', 50)])

In [58]:
profile.clear()

In [59]:
profile

{}

In [60]:
set1 = {1,2,3,3,3,3,3,3}
set1

{1, 2, 3}

In [61]:
list1 = [1,2,3,4,5,5,5,3,2,2,2]
list1 = set(list1)
list1

{1, 2, 3, 4, 5}

In [62]:
set1 = {1,2,3}
set2 = {3,4,5}
print(set1)
print(set2)

{1, 2, 3}
{3, 4, 5}

In [63]:
set.union(set1,set2)

{1, 2, 3, 4, 5}

In [64]:
set.intersection(set1,set2)

{3}

In [65]:
set1 & set2

{3}

In [66]:
set1 | set2

{1, 2, 3, 4, 5}

In [67]:
set1 ^ set2

{1, 2, 4, 5}

In [68]:
set1-set2

{1, 2}

In [182]:
{1}.issubset(set1)

True