In [1]:
x=10

In [2]:
if x==10:
    print("X는 10입니다")

X는 10입니다

In [3]:
if x!=10:
    print("X는 10이 아닙니다")
else :
    print("10이다")

10이다

In [4]:
for i in range(-2,20):
    if i%2==0:
        continue
    elif i<6:
        print(i,"는 3보다 작다")
    elif i>6:
        print(i,"는 7보다 크다")
    else:
        print(i)

-1 는 3보다 작다
1 는 3보다 작다
3 는 3보다 작다
5 는 3보다 작다
7 는 7보다 크다
9 는 7보다 크다
11 는 7보다 크다
13 는 7보다 크다
15 는 7보다 크다
17 는 7보다 크다
19 는 7보다 크다

In [5]:
chk = True
for i in range(1,4):
    score = input("점수%d : " %i)
    score= int(score)
    if(score<0 or score>100):
        print("잘못된 점수가 입력되었습니다")
    if(score<65):
        chk=False
print(chk)

점수1 : -50
잘못된 점수가 입력되었습니다
점수2 : 10
점수3 : 50
False

a = input()
b = input()
c = input()
a,b,c = map(int,[a,b,c])
a not in range(101) # 0~100

In [8]:
num = int(input("정수를 입력해주세요: "))
if num%2==1:
    print("입력하신 %d는 홀수입니다" %num)
else:
    print("입력하신 %d는 짝수입니다" %num)

정수를 입력해주세요: 9
입력하신 9는 홀수입니다

In [9]:
num = int(input("정수를 입력해주세요: "))
for i in range(num):
    print("안녕")

정수를 입력해주세요: 5
안녕
안녕
안녕
안녕
안녕

In [10]:
num = int(input("정수를 입력해주세요: "))
star='*'
for i in range(1,num+1):
    print(star*i)

정수를 입력해주세요: 5
*
**
***
****
*****

In [11]:
num = int(input("정수를 입력해주세요: "))
star='*'
for i in range(num,0,-1):
    print(star*i)

정수를 입력해주세요: 5
*****
****
***
**
*

In [27]:
l1=['a','b','c','d'] # list가 문자열이기 때문에 i도 문자열
for i in enumerate(l1):
    print(i)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')

In [26]:
a,b = (10,20)
print(a)
print(b)

10
20

In [32]:
for idx, value in enumerate(l1):
    if idx>=2:
        l1[idx]=0
l1

['a', 'b', 0, 0]

In [12]:
for i in ['a','b','c','d']:
    print(i)

a
b
c

In [13]:
profile = {
    "name":"신지수",
    "height" : 160,
    "City":"Guri"
}
for i in profile:
    print(profile.get(i))

신지수
160
Guri

In [49]:
x = [3,6,9,20,-7,5]
for i in x : 
    print(i*10)
x

30
60
90
200
-70
50

[3, 6, 9, 20, -7, 5]

In [50]:
print(x)
for idx , val in enumerate(x):
    x[idx] = val*10
    print(x[idx])
x

[3, 6, 9, 20, -7, 5]
30
60
90
200
-70
50

[30, 60, 90, 200, -70, 50]

In [52]:
y={'math':70,'science':80,'english':20}
for i in y:
    print(y[i]*10)
y

700
800
200

{'math': 70, 'science': 80, 'english': 20}

In [54]:
for i in y:
    y[i]=y[i]*10
y

{'math': 7000, 'science': 8000, 'english': 2000}

In [64]:
for i in range(1,10):
    print("%d단" %i)
    for j in range(1,10):
        print("%d * %d = %d" %(i,j,i*j))
    print("-"*30)

1단
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
------------------------------
2단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
------------------------------
3단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
------------------------------
4단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
------------------------------
5단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
------------------------------
6단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
------------------------------
7단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
------------------------------
8단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
------------------------------
9단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
------------------------------

In [60]:
word =["school","game","piano","science","hotle","mountain"]
list1=list()
for i in word:
    if(len(i)>=6):
        list1.append(i)
list1

['school', 'science', 'mountain']

In [61]:
new_word = word.copy()
for i in word:
    if(len(i)<6):
        new_word.remove(i)
new_word

['school', 'science', 'mountain']

# 연습문제 3
1-100 까지 숫자중
3과 5의 공배수일경우 “3과 5의 공배수”<br>
나머지 숫자중 3의배수일경우 “3의배수”<br>
나머지 숫자중 5의배수일경우 “5의배수”<br>
모두 해당되지 않을경우 그냥숫자를 출력하세요
<br><br>
심화 : 1-입력한숫자까지의 숫자중

In [67]:
num = int(input("숫자를 입력하세요"))
for i in range(1,num):
    if i%3==0 and i%5==0 : 
        print("3과 5의 공배수")
    elif i%3 ==0:
        print("3의 배수")
    elif i%5==0:
        print("5의 배수")
    else :
        print(i)

숫자를 입력하세요30
1
2
3의 배수
4
5의 배수
3의 배수
7
8
3의 배수
5의 배수
11
3의 배수
13
14
3과 5의 공배수
16
17
3의 배수
19
5의 배수
3의 배수
22
23
3의 배수
5의 배수
26
3의 배수
28
29

In [20]:
inputx = input(" 입력: ")
print(inputx!='s'or inputx!='S')

 입력: s
True

# 연습문제5
사용자로부터 숫자를 계속 입력받다가<br>
s or S 를 입력하면 합계출력

In [91]:
inputx = input("숫자를 입력하세요 (종료 s ,S) : ")
sumx=0
while inputx.lower()!='s':
    sumx+=int(inputx)
    inputx = input("숫자를 입력하세요 (종료 s ,S) : ")
print("합계는? %d" %sumx)

숫자를 입력하세요 (종료 s ,S) : 30
숫자를 입력하세요 (종료 s ,S) : 40
숫자를 입력하세요 (종료 s ,S) : s
합계는? 70

In [68]:
import random
random.random()

0.4838339717641138

In [74]:
com=random.randint(1,3)
user=input("가위(1), 바위(2), 보(3) 을 입력해주세요! :")
print("유저 : {}, 컴퓨터 : {}".format(user,com))

가위(1), 바위(2), 보(3) 을 입력해주세요! :3
유저 : 3, 컴퓨터 : 2

In [100]:
win = 0
count =0
same=0
user=int(input("가위(1), 바위(2), 보(3) 을 입력해주세요! :"))
list1=['가위','바위','보']
while user in range(1,4):
    com=random.randint(1,3)
    print("유저 : {}, 컴퓨터 : {}".format(list1[user-1],list1[com-1]))
    count+=1
    if((user-com==1) or (user-com==-2)):
        win+=1
    elif user==com:
        same+=1
    user=int(input("가위(1), 바위(2), 보(3) 을 입력해주세요! :"))
    
print("게임종료(전체:%d, 승리:%d 비김:%d)"%(count,win,same))

가위(1), 바위(2), 보(3) 을 입력해주세요! :3
유저 : 보, 컴퓨터 : 바위
가위(1), 바위(2), 보(3) 을 입력해주세요! :2
유저 : 바위, 컴퓨터 : 보
가위(1), 바위(2), 보(3) 을 입력해주세요! :3
유저 : 보, 컴퓨터 : 보
가위(1), 바위(2), 보(3) 을 입력해주세요! :1
유저 : 가위, 컴퓨터 : 가위
가위(1), 바위(2), 보(3) 을 입력해주세요! :5
게임종료(전체:4, 승리:1 비김:2)

# Break, Continue

In [102]:
for i in range(5):
    if i==3 :
        break;
    print(i)

0
1
2

In [103]:
for i in range(10):
    if 5<i<=8:
        continue
    print(i)

0
1
2
3
4
5
9

In [120]:
num = int(input("숫자를 입력하세요 : "))
while True : 
    print("hi")
    num-=1
    if num==0 :
        break;

숫자를 입력하세요 : 5
hi
hi
hi
hi
hi

In [119]:
num = int(input("숫자를 입력하세요 : "))
for i in range(num):
    if i%2==1 :
        continue
    print(i)

숫자를 입력하세요 : 4
0
2

In [133]:
a=list()
for i in range(100):
    a.append(random.randint(1,1000))
print(max(a))

990

In [134]:
sum(a)

52829

# 리스트 컴프리핸션

In [139]:
list(range(10,50,10))

[10, 20, 30, 40]

In [142]:
new_list = [i*10 for i in range(1,5)]
new_list

[10, 20, 30, 40]

In [155]:
#1부터 100까지의 숫자중에서 3의배수만 모아서 새로운 리스트를 만드시오
new_list=[i*3 for i in range(1,100//3+1)]
print(new_list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [151]:
new_list3 = [i for i in range(1,101) if i%3==0]
print(new_list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [154]:
keys=['city','name','height']
value=['Seoul','신지수',160]
new_dict={
    keys[i] : value[i] for i in range(len(keys))
         }
new_dict

{'city': 'Seoul', 'name': '신지수', 'height': 160}

# zip

In [156]:
for i in range(len(keys)):
    k = keys[i]
    v = value[i]
    print(k,v)

city Seoul
name 신지수
height 160

In [161]:
dic=dict(zip(keys,value))
dic['city']='Guri'
dic

{'city': 'Guri', 'name': '신지수', 'height': 160}

In [165]:
word=["school","game","piano","science","hotel","mountain"]
word1 = [i for i in word if len(i)>=6]
print(word1)
word2 = [len(i) for i in word]
print(word2)

['school', 'science', 'mountain']
[6, 4, 5, 7, 5, 8]

1) 아래 두 리스트를 각 요소들을 곱해 새로운 리스트 C 를 만드세요<br>
a = [[10, 20], [30, 40], [50, 60]]<br>
b = [[2, 3], [4, 5], [6, 7]]<br>

In [220]:
a = [[10, 20], [30, 40], [50, 60]]
b = [[2, 3], [4, 5], [6, 7]]
c= []
for i in range(len(a)) : 
    d=[]
    for j in range(len(a[0])):
        d.append(a[i][j]*b[i][j])
    c.append(d)
c

[[20, 60], [120, 200], [300, 420]]

In [229]:
new_list = []
for [a1,a2],[b1,b2] in list(zip(a,b)):
    new_list.append([a1*b1,a2*b2])
new_list

[[20, 60], [120, 200], [300, 420]]

In [194]:
a = []
num =1
for i in range(3):
    line = []
    for j in range(2):
        line.append(num)
        num+=1
    a.append(line)
print(a)

[[1, 2], [3, 4], [5, 6]]

In [218]:
s = '1'
for k in range(10):
    head = s[0]
    count=0
    answer=''
    for i in s:
        if i==head:
            count+=1
        else :
            answer+=str(head)+str(count)
            head =i
            count=1
    answer+=str(head)+str(count)
    s=answer
    print(answer)

11
12
1121
122111
112213
12221131
1123123111
12213111213113
11221131132111311231
12221231123121133112213111