In [5]:
def add_num(num1,num2):
    print("add_num 함수 실행")
    return num1+num2

In [6]:
add_num(3,5)

add_num 함수 실행

8

In [7]:
output = add_num(3,5)

add_num 함수 실행

In [8]:
output

8

In [9]:
def func1():
    print("Hello world")

In [10]:
def func2():
    return ("Hello world")

In [11]:
def func3(name):
    return ("Hello %s" %name)

In [12]:
def func4(name):
    print("Hello %s" %name)

In [13]:
func1()

Hello world

In [14]:
a= func1()
print(a)

Hello world
None

In [15]:
a=func2()
print(a)

Hello world

In [16]:
a=func3("world")
print(a)

Hello world

In [17]:
a=func4("world")
print(a)

Hello world
None

# 변수의 scope

In [18]:
a,b,c=1,2,5

In [19]:
def func1():
    a = 3
    b = 4
    print(a,b,c)
    return

In [20]:
func1()

3 4 5

In [21]:
a,b,c

(1, 2, 5)

In [22]:
def func2():
    a = 5
    b= 6
    func1()
    print(a,b)

In [23]:
func2()

3 4 5
5 6

In [24]:
a = 5
def func3():
    global a
    a=1
    print(a)

In [25]:
func3()

1

In [26]:
a

1

In [27]:
def calc(a,b):
    sumc = a+b
    sub = a-b
    mul = a*b
    div = a/b
    return(sumc,sub,mul,div)

In [28]:
print(type(calc(5,6)))
a,b,c,d=calc(5,6)
print("덧셈:{}, 뺄셈:{}, 곱셈:{}, 나눗셈:{}".format(a,b,c,d))

<class 'tuple'>
덧셈:11, 뺄셈:-1, 곱셈:30, 나눗셈:0.8333333333333334

In [29]:
def allindex(a,b):
    li = list()
    for idx,val in enumerate(a):
        if val==b :
            li.append(idx)
    return li

In [30]:
lis = [1, 2, 3, 1, 4, 2, 1]
allindex(lis, 1)

[0, 3, 6]

# lambda 함수

In [38]:
(lambda x:x**2)(10)

100

In [39]:
(lambda x:x**2)(5)

25

In [40]:
(lambda x,y:(x+y , x-y))(3,4)

(7, -1)

In [44]:
add = lambda x,y:(x+y,x*y)

In [47]:
add(3,4)

(7, 12)

In [35]:
lis = [1,2,3,1,4,2,1]

In [37]:
lis2 = [i for i in lis if i%2==0]
lis2
print(lis2)

[2, 4, 2]

In [53]:
list(map(str,lis))

['1', '2', '3', '1', '4', '2', '1']

In [54]:
list(map(lambda x : x**2,lis))

[1, 4, 9, 1, 16, 4, 1]

# 인수(Arguments)

In [55]:
def make_profile(name,email,height):
    return {
        'name' : name,
        'email' : email,
        'height' : height
    }

In [56]:
make_profile("신지수","sjszzang0929@naver.com",160)

{'name': '신지수', 'email': 'sjszzang0929@naver.com', 'height': 160}

In [57]:
make_profile("신지수",height=160,email='sjszzang3053@gmail.com')

{'name': '신지수', 'email': 'sjszzang3053@gmail.com', 'height': 160}

# 가변인수(*args)

In [58]:
def add(*args):
    print(args)
    print(type(args))
    return sum(args)

In [59]:
a = add(1)

(1,)
<class 'tuple'>

In [60]:
a = add(1,2,3,4,5)
print(a)

(1, 2, 3, 4, 5)
<class 'tuple'>
15

# 가변키워드인수(**kwargs)

In [61]:
def make_profile(**kwargs):
    print(type(kwargs))
    print(kwargs)
    return kwargs

In [62]:
make_profile(name="신지수",city="Seoul",email="sjszzang3053@gmail.com")

<class 'dict'>
{'name': '신지수', 'city': 'Seoul', 'email': 'sjszzang3053@gmail.com'}

{'name': '신지수', 'city': 'Seoul', 'email': 'sjszzang3053@gmail.com'}

In [63]:
def make_profile(name, email, city='Seoul',*friends,**kwargs):
    result = {
        'name' : name,
        'email': email,
        'city': city,
        'friends': friends
    }
    result.update(kwargs)
    return result

In [64]:
make_profile("신지수","@naver")

{'name': '신지수', 'email': '@naver', 'city': 'Seoul', 'friends': ()}

In [65]:
make_profile("신지수","@naver","Guri","jiwon","heeji",intro = 'hi guys')

{'name': '신지수',
 'email': '@naver',
 'city': 'Guri',
 'friends': ('jiwon', 'heeji'),
 'intro': 'hi guys'}

In [66]:
def func1(*args):
    print(args)
    print(type(args))
    return sum(args)

In [76]:
list1 = [1,2,3,4,5]

In [75]:
func1(list1,2)

([1, 2, 3, 5, 6], 2)
<class 'tuple'>

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [77]:
func1(*list1,6,7)

(1, 2, 3, 4, 5, 6, 7)
<class 'tuple'>

28

In [78]:
def validate_profile(**profile):
    print(profile)
    print(type(profile))
    if not profile.get('email'):
        return False
    if not profile['email'].count("@"):
        return False
    return True

In [79]:
profile = {
    'name' : '신지수',
    'city' : 'Guri',
    'email' : 'sjszzang@naver.com'
}

In [80]:
validate_profile(**profile)

{'name': '신지수', 'city': 'Guri', 'email': 'sjszzang@naver.com'}
<class 'dict'>

True

가변인수와 고정인수를 사용해 모든값을 더하거나 빼거나 곱하는 함수 작성<br>
ex)<br>
calc("+", 1, 2, 3, 4, 5) # 1 + 2 + 3 + 4 + 5<br>
15<br>
calc("-", 1, 2, 3, 4, 5) # 1 - 2 - 3 - 4 - 5<br>
-13<br>
calc("*", 1, 2, 3, 4, 5) # 1 * 2 * 3 * 4 * 5<br>
120<br>

In [81]:
# 강사님이 짜주신 코드
def func1_1(oper,*num):
    if oper=='+':
        return sum(num)
    elif oper=='-':
        result=num[0]
        for i in num[1:]:
            result-=i
        return result
    elif oper=='*':
        result=1
        for i in num :
            result*=i
        return result
    return False

In [82]:
print(func1_1('+',1,2,3,4,5))
print(func1_1('-',1,2,3,4,5))
print(func1_1('*',1,2,3,4,5))

15
-13
120

In [83]:
def func1(oper,*num ):
    print(num)
    if oper=='+':
        for i,val in enumerate(num) :
            if i==0 :
                answer = val
            else :
                answer+=val
    elif oper=='-':
        for i,val in enumerate(num) :
            if i==0 :
                answer = val
            else :
                answer-=val
    elif oper=='*':
        for i,val in enumerate(num) :
            if i==0 :
                answer = val
            else :
                answer*=val
    return answer

In [85]:
func1('+',1,2,3,4,5)

(1, 2, 3, 4, 5)

15

In [86]:
func1('-',1,2,3,4,5)

(1, 2, 3, 4, 5)

-13

In [87]:
func1('*',1,2,3,4,5)

(1, 2, 3, 4, 5)

120

가변인수를 이용 가장 높은값, 낮은값, 평균값을 구하는 함수 작성<br>
ex)<br>
calc(1,2,3,4,5)<br>
최대값 : 5, 최소값 : 1, 평균값 : 3.0<br>

In [88]:
def calc (*num):
    maxn = max(num)
    minn = min(num)
    ave = sum(num)/len(num)
    return (maxn,minn,ave)

In [89]:
a,b,c=calc(1,2,3,4,5)
print("최대값: {}, 최소값: {} , 평균값:{}".format(a,b,c))

최대값: 5, 최소값: 1 , 평균값:3.0